<h1>Contact Page</h1>
<h2>Get in Touch</h2>
<p>You can contact us through the following methods:</p>
<ul>
  <li>Email: tazamorano@miuandes.cl</li>
  <li>Phone: +56 9 5649 1734</li>
</ul>
<p>This is a simple and easy design, i hope i can improve it in the future</p>
